<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="form-container">
        <h1 class="greeting">Log In</h1>
        <form method="post" id="form">
            <div class="input-container">
                <input type="text" name="email" placeholder="Email" required>
            </div>
            <div class="password-container">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="button">Log In</button>
        </form>
        <p id="continue">Don't have an account? <a href="signup.html">Sign Up</a></p>
        <a href="#" class="Forget">Forgot Password?</a>
    </div>
    <script src="../static/script/login.js"></script>
</body>
</html>
