<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="user-container">
        
        <h2>All Users</h2>
        <table >
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody id="user-list">
                
            </tbody>
        </table>
    </div>
    <script src="../static/script/user.js"></script>
</body>
</html>
